In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn

In [3]:
df=pd.read_csv("mtcars.csv")
df.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [9]:
X=df.drop(["mpg","model"],axis=1)
X.head()

   cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4    8  360.0  175  3.15  3.440  17.02   0   0     3     2

In [12]:
Y=df["mpg"]
Y.head()

0    21.0
1    21.0
2    22.8
3    21.4
4    18.7
Name: mpg, dtype: float64

In [14]:
X.shape

(32, 10)

In [15]:
Y.shape

(32,)

In [16]:
from sklearn.linear_model import LinearRegression
LR=LinearRegression()

In [37]:
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.25,random_state=0)

In [38]:
LR.fit(X,Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [32]:
from sklearn.linear_model import LinearRegression
LR=LinearRegression()

In [36]:


y_pred_all=LR.predict(X)


r2_score_all=metrics.r2_score(Y,y_pred_all)
r2_score_all

0.8690157644777647

In [39]:
LR.intercept_

12.30337415599627

In [40]:
LR.coef_

array([-0.11144048,  0.01333524, -0.02148212,  0.78711097, -3.71530393,
        0.82104075,  0.31776281,  2.52022689,  0.65541302, -0.19941925])

In [41]:
Y_pred=LR.predict(X_test)

In [42]:
from sklearn import metrics
mae=metrics.mean_absolute_error(Y_test,Y_pred)

In [43]:
mae

2.333212085169473

In [44]:
mse=metrics.mean_squared_error(Y_test,Y_pred)
mse

6.878868822382807

In [45]:
r2score=metrics.r2_score(Y_test,Y_pred)

In [46]:
r2score

0.6723738756223259

In [47]:
RMSE=np.sqrt(mse)
RMSE

2.622759772145136

In [48]:
score_train=LR.score(X_train,Y_train)
score_train

0.8949443787007859

In [49]:
score_test=LR.score(X_test,Y_test)
score_test

0.6723738756223259

In [50]:
if (score_train>score_test):
    print("Overfitting")
else:
        print("Underfitting")

Overfitting