### Take Home Exercises

**1)  Is there any evidence that the stock return depends on sector like industrial or consumer or service?**


**The following table shows the annual return of stocks under different sectors:**

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
from scipy.stats import chi2_contingency,chisquare,levene,bartlett,wilcoxon,mannwhitneyu

In [6]:
]

Count, Mean and standard deviation of monthly income of members of Consumer Grp:  30, 0.082653 and 0.001010
Count, Mean and standard deviation of monthly income of members of Service Grp:  30, 0.079823 and 0.003073
Count, Mean and standard deviation of monthly income of members of Industrial Grp:  30, 0.060503 and 0.000963

In [10]:
import pandas as pd
import numpy  as np

df1     = pd.DataFrame({'Sector': 'Consumer',   'Stock_Return': y_stock_consumer})
df2     = pd.DataFrame({'Sector': 'Service',    'Stock_Return': y_stock_service})
df3     = pd.DataFrame({'Sector': 'Industrial', 'Stock_Return': y_stock_indistrial})

y_stock_df  = pd.DataFrame()

y_stock_df  = y_stock_df.append(df1) 
y_stock_df  = y_stock_df.append(df2) 
y_stock_df  = y_stock_df.append(df3) 


y_stock_df.head()

     Sector  Stock_Return
0  Consumer        0.0632
1  Consumer        0.1473
2  Consumer        0.1195
3  Consumer        0.1236
4  Consumer        0.1028

#### Hint: Try One-way ANOVA

# As one column is Numerical and the other is Categorical .. We make use of the Test of Mean

# Here as there are 3 groups that we need to consider hence we make of the oneway ANOVA

# Here the Null Hypo is mean of Stock return of Consumer = mean of Stock return of Service = mean of Stock return of Industrial

In [11]:
a = y_stock_df.Stock_Return.groupby(y_stock_df.Sector)
g1 = a.get_group('Consumer')
g2 = a.get_group('Service')
g3 = a.get_group('Industrial')

In [14]:
from scipy.stats import f_oneway
f_stat, p_val = f_oneway(g1,g2,g3)
p_val

0.08066440911480482

# Here as p>0.05, the null hyp fails to reject and hence the means of all the sectors are same.

**2 The following table shows the quantity of soaps at different discount of different brands collected over 20 days.**

In [27]:
table1  = [['Loc','Brand X','Brand Y','Brand Z'], [ 1, 20, 28, 32], [ 2, 20, 19, 20],
  [ 1, 16, 23, 29 ],[ 2, 21, 27, 31 ],[ 1, 24, 25, 28 ],[ 2, 23, 23, 35 ],
  [ 1, 20, 31, 27 ],[ 2, 19, 30, 25 ],[ 1, 19, 25, 30 ],[ 2, 25, 25, 31 ],
  [ 1, 10, 24, 26 ],[ 2, 22, 21, 31 ],[ 1, 24, 28, 37 ],[ 2, 25, 33, 31 ],
  [ 1, 16, 23, 33 ],[ 2, 21, 26, 23 ],[ 1, 25, 26, 27 ],[ 2, 26, 22, 22 ],
  [ 1, 16, 25, 31 ],[ 2, 22, 28, 32 ],[ 1, 18, 22, 37 ],[ 2, 25, 24, 22 ],
  [ 1, 20, 24, 28 ],[ 2, 23, 23, 29 ],[ 1, 17, 26, 25 ],[ 2, 23, 26, 25 ],
  [ 1, 26, 28, 23 ],[ 2, 24, 16, 34 ],[ 1, 16, 21, 26 ],[ 2, 20, 30, 30 ],
  [ 1, 21, 27, 33 ],[2, 23, 22, 25 ],[ 1, 24, 25, 28 ],[ 2, 18, 16, 39 ],
  [ 1, 19, 20, 30 ],[ 2, 19, 25, 32 ],[ 1, 19, 26, 30 ],[ 2, 19, 34, 29 ],
  [ 1, 21, 26, 26 ],[ 2, 30, 23, 22 ]]

headers = table1.pop(0) #

df1 = pd.DataFrame(table1, columns=headers)
print(df1.head())

   Loc  Brand X  Brand Y  Brand Z
0    1       20       28       32
1    2       20       19       20
2    1       16       23       29
3    2       21       27       31
4    1       24       25       28

In [25]:
d0_val  = df1['Brand X'].values
d10_val = df1['Brand Y'].values
d20_val = df1['Brand Z'].values
l_val   = df1['Loc'].values

df1   = pd.DataFrame({'Loc': l_val, 'Brand':'X','Qty': d0_val})
df2   = pd.DataFrame({'Loc': l_val, 'Brand':'Y','Qty': d10_val})
df3   = pd.DataFrame({'Loc': l_val, 'Brand':'Z','Qty': d20_val})

Sale_qty_df = pd.DataFrame()

Sale_qty_df = Sale_qty_df.append(df1) 
Sale_qty_df = Sale_qty_df.append(df2) 
Sale_qty_df = Sale_qty_df.append(df3) 

pd.DataFrame(Sale_qty_df)

    Loc Brand  Qty
0     1     X   20
1     2     X   20
2     1     X   16
3     2     X   21
4     1     X   24
5     2     X   23
6     1     X   20
7     2     X   19
8     1     X   19
9     2     X   25
10    1     X   10
11    2     X   22
12    1     X   24
13    2     X   25
14    1     X   16
15    2     X   21
16    1     X   25
17    2     X   26
18    1     X   16
19    2     X   22
20    1     X   18
21    2     X   25
22    1     X   20
23    2     X   23
24    1     X   17
25    2     X   23
26    1     X   26
27    2     X   24
28    1     X   16
29    2     X   20
..  ...   ...  ...
10    1     Z   26
11    2     Z   31
12    1     Z   37
13    2     Z   31
14    1     Z   33
15    2     Z   23
16    1     Z   27
17    2     Z   22
18    1     Z   31
19    2     Z   32
20    1     Z   37
21    2     Z   22
22    1     Z   28
23    2     Z   29
24    1     Z   25
25    2     Z   25
26    1     Z   23
27    2     Z   34
28    1     Z   26
29    2     Z   30
30    1     Z   33
31    2     Z   25
32    1     Z   28
33    2     Z   39
34    1     Z   30
35    2     Z   32
36    1     Z   30
37    2     Z   29
38    1     Z   26
39    2     Z   22

[120 rows x 3 columns]

In [ ]:
# Here there are 3

In [43]:
# OLS - Ordinary Least Square
import statsmodels.api as sm
from statsmodels.formula.api import ols

mod = ols('Qty~Brand',data=Sale_qty_df).fit()
aov_table = sm.stats.anova_lm(mod,typ=1)
print(aov_table)

             df       sum_sq     mean_sq          F        PR(>F)
Brand       2.0  1240.316667  620.158333  38.356761  1.548876e-13
Residual  117.0  1891.675000   16.168162        NaN           NaN

In [44]:
mod.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    Qty   R-squared:                       0.396
Model:                            OLS   Adj. R-squared:                  0.386
Method:                 Least Squares   F-statistic:                     38.36
Date:                Fri, 30 Aug 2019   Prob (F-statistic):           1.55e-13
Time:                        08:31:46   Log-Likelihood:                -335.74
No. Observations:                 120   AIC:                             677.5
Df Residuals:                     117   BIC:                             685.8
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     20.9750      0.636     32.991      0.000      19.716      22.234
Brand[T.Y]     3.9250      0.899      4.365      0.000       2.144       5.706
Brand[T.Z]     7.8750      0.899      8.759      0.000       6.094       9.656
==============================================================================
Omnibus:                        0.519   Durbin-Watson:                   2.000
Prob(Omnibus):                  0.771   Jarque-Bera (JB):                0.186
Skew:                          -0.027   Prob(JB):                        0.911
Kurtosis:                       3.185   Cond. No.                         3.73
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

**3 Blood group of patients of the hospital is given below:**

| Blood group | Count |
| ------ | --- |
| O | 44%|
| A | 45% |
| B | 8% |
| AB | 3% |


Observed frequency

| Blood group | Count |
| ----- | ----|
| O | 67 |
| A | 83 |
| B | 29 |
| AB | 8 |

At 5% level of significance do you have evidence to conclude that there are differences in the distribution of blood groups among patients that is expected as per our prior knowledge.

# Here the Null Hyp is that the prop of O = prop of A = prop of B = prop of AB

In [45]:
import scipy.stats as stats
import scipy

observed_values=scipy.array([67, 83, 29, 8])
n=observed_values.sum()
expected_val = scipy.array([n*0.44, n*0.45, n*0.08, n*0.03])
from scipy.stats import chisquare
chisquare(observed_values,expected_val)

Power_divergenceResult(statistic=17.04810133419759, pvalue=0.000690824622923825)

# Clearly the null hyp is rejected here as the p value is < 0.05 and hence there is strong evidence that there are differences in the distribution of blood groups.

**4. The shift quality data is given below:**

| Shift | Perfect | Satisfactory | Defective |
| ---- | ----- | ----- | ----- |
| I | 106 | 124 | 1 | 
|II |  67 | 85 | 1 |
| III | 37 | 72 | 3 |

At 5% level of significance do you have evidence to conclude that there are differences in quality among the three shifts?

In [60]:
import numpy as np
import scipy.stats as stats
from scipy.stats import chi2_contingency
arr = np.array([[106,124],[67, 85],[37, 72]])
chi2_contingency(arr)

(4.608365109156468, 0.0998403813678417, 2, array([[ 98.3706721, 131.6293279],
        [ 65.0101833,  86.9898167],
        [ 46.6191446,  62.3808554]]))

# Here as p > 0.05, the null hyp holds.

## E N D