# 1.	Use range () to print all the even numbers from 0 to 10

In [4]:
list1 = []
for i in range(0,11):
    if i%2==0:
        list1.append(i)

print(list1)

[0, 2, 4, 6, 8, 10]

# 2.	Use List comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.

In [5]:
list1 =[val for val in range(1,50) if val%3==0]
print(list1)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

# 3.	Use a List Comprehension to create a list of the first letters of every word in the string below:

	st = 'Create a list of the first letters of every word in this string'

In [22]:
st = 'Create a list of the first letters of every word in this string'

x =st.split(' ')
for i in range(len(x)):
    print(x[i][0])

C
a
l
o
t
f
l
o
e
w
i
t
s

# 4.	Using keys and indexing, grab the 'hello' from the following dictionaries:

	d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [5]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2]

['hello']

# Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.

	Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'

	Expected Output : 
	No. of Upper case characters : 4
	No. of Lower case Characters : 33

In [20]:
string='Hello Mr. Rogers, how are you this fine Tuesday?'
count1=0
count2=0
for i in string:
      if(i.islower()):
            count1=count1+1
      elif(i.isupper()):
            count2=count2+1
print("The number of lowercase characters is:")
print(count1)
print("The number of uppercase characters is:")
print(count2)

The number of lowercase characters is:
33
The number of uppercase characters is:
4

# Write a Python function that takes a list and returns a new list with unique elements of the first list.

	Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
	Unique List : [1, 2, 3, 4, 5]

In [39]:
SampleList = [1,1,1,1,2,2,3,3,3,3,4,5]
set1 = set(SampleList)
print(set1)
print()
list2 = list(set1)
print(list2)

{1, 2, 3, 4, 5}

[1, 2, 3, 4, 5]

# Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically.Suppose the following input is supplied to the program:

	'hello world and practice makes perfect and hello world again'

Then, the output should be:
 	 again and hello makes perfect practice world

In [17]:
str1 = 'hello world and practice makes perfect and hello world again'
mylist1 = str1.split(' ')
print(mylist1)
set1 = set(mylist1)
list1 = list(set1)
list1.sort()
print(list1)
newstr1 = str(list1)
print(newstr1)

['hello', 'world', 'and', 'practice', 'makes', 'perfect', 'and', 'hello', 'world', 'again']
['again', 'and', 'hello', 'makes', 'perfect', 'practice', 'world']
['again', 'and', 'hello', 'makes', 'perfect', 'practice', 'world']

# With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [21]:
tuple1=(1,2,3,4,5,6,7,8,9,10)
list1=[]
list2=[]
for i in tuple1:
    if i<=5:
        list1.append(i)
    else:
        list2.append(i)
        
print(list1)
print(list2)
print()

tuple3=tuple(list1)
tuple4=tuple(list2)

print(tuple3)
print(tuple4)

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

# Write a program which can map() to make a list whose elements are square of numbers between 1 and 20 (both included).

In [24]:
mylist2 = list(range(1,21))
map2 = list(map(lambda x: x **2,mylist2))
print(map2

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

# Write a program which can map() and filter() to make a list whose elements are square of even number in [1,2,3,4,5,6,7,8,9,10].

In [28]:
list1 = [1,2,3,4,5,6,7,8,9,10]
list2 = list(filter(lambda x : (x%2==0),list1))
print(list2)
print()
list3 = list(map(lambda x: x**2,list2))
print(list3)

[2, 4, 6, 8, 10]

[4, 16, 36, 64, 100]

In [23]:
lst = [ x**2 for x in [x**2 for x in range(11)]]
lst

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]