<span style="font-family: Arial; font-weight:bold;font-size:1em;color:#f0f0f0;">.....................
    <span style="font-family: Arial; font-weight:bold;font-size:3.2em;color:#5d067d;">ITP EXAM SET -1 (Without Solution)

In [ ]:
from IPython.display import Image
Image('1.png')

--------------

# 4 Questions X 5 Marks = 20 Marks

----------

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#5d067d;">1. Write a pseudocode and python program to Reverse a Given Number?

**Hint:**     

             INPUT:12345

             OUTPUT:54321

#### pseudocode:

1. Read a number 12345 into a variable
2. print(a)
3. Read str(a) into a as string can be indexed
4. Read a[::-1] into b
5. print(b)
6. Read int(b) into b and print b

#### Python Code:

In [ ]:
a = 12345
a = str(a)
b = a[::-1]
b = int(b)
b

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#5d067d;">2.Difference between break and continue statements?

1. Break :
    
    
2. Continue :

1. When we need to get the control out of the loop then we make use of Break
2. And when we want to skip a particular iteration in a loop then we make use of continue

## Example

In [ ]:
i = 1
while(i<10):
    print('Val of i is :',i)
    if(i==4):
        break
    i+=1

In [ ]:
i = 1
for i in range(1,11):
    if(i==5):
        continue
    print('Val of i is :',i)

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#5d067d;">3.Write a program to print the sum of squares of first 10 natural numbers using lambda, map and reduce?

In [ ]:
from functools import reduce
ls = [i for i in range(1,11)]
print(ls)
fun = lambda x : x**2
ls1 = list(map(fun,ls))
print(ls1)
ls2 = reduce(lambda x,y:x+y,ls1)
print(ls2)

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#5d067d;">4.Write a program to replace the last element in a list with another list?

    * list1 = [1, 3, 5, 7, 9, 10]
    
    * lilst2 = [20, 40, 60, 80]

-----------

In [ ]:
list1 = [1, 3, 5, 7, 9, 10]
list2 = [20, 40, 60, 80]
list1[-1] = list2
list1

# 5 Questions X 10 Marks = 50 Marks

------------

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#5d067d;">1. Write a pseudocode and python Program to Find the Sum of the Series: 1 + 1/2 + 1/3 + â€¦.. + 1/N?

#### pseudocode:

1. Store 0 in a variable named s to keep a track of sum
2. Read n from the user
3. for (i in range(1,11))
    1. Store in s the value of s + (1/i)
4. Print s

#### Python Code:

In [ ]:
s = 0
for i in range(1,11):
    s = s + (1/(i))
print(s)

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#5d067d;">2.Write a program that accepts a string from the user and calculate the number of digits and letters present in the string?

In [ ]:
st = input('Enter a string with digits and letters')
let = [str.isalpha(i) for i in st]
let_count = let.count(True)
dig = [str.isdigit(i) for i in st]
dig_count = dig.count(True)
print('The number of Letters in the string is {} and the number of digits are {}'.format(let_count,dig_count))

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#5d067d;">3.Two list of integers are given, create a third list by user defined function such that it should contain only odd numbers from the first list and even numbers from the second list?

    * list1 = [10, 20, 23, 11, 17]
    * list2 = [13, 43, 24, 36, 12]

In [ ]:
list1 = [10, 20, 23, 11, 17]
list2 = [13, 43, 24, 36, 12]
final_ls = []
def fun(ls,ls1):
    for i in range(len(ls)):
        if(ls[i]%2!=0):
            final_ls.append(ls[i])
    for i in range(len(ls1)):
        if(ls1[i]%2==0):
            final_ls.append(ls1[i])
    return final_ls

In [ ]:
ls2 = fun(list1,list2)
ls2

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#5d067d;">4. Write a Program to print inverted half pyramid using an asterisk (star) (get the row count from the user)?

In [ ]:
i = 4
while(i>0):
    print('* '*i)
    i-=1

* * * * 
* * * 
* * 
*

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#5d067d;">5. Write a function to find the median of the given lists which are having odd and even count?

lst = [21,3,4,5,12]

2nd = [21,76,3,4,5,12]

In [ ]:
ls1 = [21,3,4,5,12]
ls2 = [21,76,3,4,5,12]
med = 0
def med(ls):
    ls.sort()
    if(len(ls)%2!=0):
        med = ls[len(ls)//2]
    else:
        one = ls[len(ls)//2]
        two = ls[(len(ls)//2)-1]
        med = (one+two)/2
    return med

In [ ]:
median1 = med(ls1)
median2 = med(ls2)

print(median1,median2)

---------

## 1 Questions X 30 Marks = 30 Marks

---------

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#5d067d;">1.A Write a program which accepts range of numbers from the user and prints all the armstrong numbers in that given interval?(10 MARKS)
  
  
  * Note :A number is called Armstrong number if it is equal to the sum of the cubes of its own digits. 
            For example: 407 is an Armstrong number since 407 = 4*4*4 + 0*0*0 + 7*7*7
   
   * Output : Armstrong nos. in the given range (100,1000) - 153, 370, 371, 407

In [ ]:
a = '123'
int(a[1])

In [ ]:
print('Input the range of values seperated with a space :')
st = input()
st = st.split(' ')
n1 = int(st[0])
n2 = int(st[1])
s = 0
for i in range(n1,n2+1):
    i = str(i)
    s = (int(i[0])**3) + (int(i[1])**3) + (int(i[2])**3)
    i = int(i)
    if (i==s):
        print('{} is an Armstrong Number'.format(i))

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#5d067d;">1.B Write a Python program to check the validity of password input by users?(10 MARKS)

1.   List item
2.   List item


    * At least 1 letter between [a-z] and 1 letter between [A-Z].
    * At least 1 number between [0-9].
    * At least 1 character from [$#@].
    * Minimum length 6 characters.
    * Maximum length 16 characters.

In [ ]:
a = 'kus'
len(a)

In [9]:
print('Enter your password: ')
print('The password must contain :')
print("* At least 1 letter between [a-z] and 1 letter between [A-Z].\
* At least 1 number between [0-9].\
* At least 1 character from [$#@].\
* Minimum length 6 characters.\
* Maximum length 16 characters")
print()
pas = input()
let = [str.isalpha(i) for i in pas]
let_low = [str.islower(i) for i in pas]
let_up = [str.isupper(i) for i in pas]
let_dig = [str.isdigit(i) for i in pas]
let_sp = [str.isalnum(i) for i in pas]
total_len = len(pas)
count_low = let_low.count(True)
count_up = let_up.count(True)
count_dig = let_dig.count(True)
count_sp = total_len-count_low-count_up-count_dig

if(total_len>6 and total_len<16):
    if(count_low>0):
        if(count_up>0):
            if(count_dig>0):
                if(count_sp>0):
                    print('Password Accepted!')
                else:
                    print('Please Try Again')
            else:
                print('Please Try Again')
        else:
            print('Please Try Again')
    else:
        print('Please Try Again')
else:
    print('Please Try Again')

Enter your password:
The password must contain :
* At least 1 letter between [a-z] and 1 letter between [A-Z].* At least 1 number between [0-9].* At least 1 character from [$#@].* Minimum length 6 characters.* Maximum length 16 characters

Kus8777@
Password Accepted!

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#5d067d;">3.C Write a program to print Fibonacci Series?(10 MARKS)

In [19]:
def fibonacci(n): 
    a = 0
    b = 1
    if n < 0: 
        print("Incorrect input") 
    elif n == 0: 
        return a 
    elif n == 1: 
        return b 
    else: 
        for i in range(2,n+1): 
            c = a + b 
            a = b 
            b = c 
        return c

In [21]:
print(fibonacci(9))

34

<span style="font-family: Arial; font-weight:bold;font-size:3em;color:#95b80b;"> THE END

---------