# TAKE HOME LAB EXERCISE - 01

-----------

**(1). The value Range(0,10) ,  convert the list to `2D array`.**

In [6]:
import numpy as np
ls=[i for i in range(0,10)]
a1=np.array(ls).reshape(5,2)
print(a1)

[[0 1]
 [2 3]
 [4 5]
 [6 7]
 [8 9]]

-------------------------------------------------------------

**(2).Print or show only 3 decimal places of the numpy array `random_arr`**

In [12]:
a=np.random.rand(3,2)
print(a)
print()
np.set_printoptions(precision=3)
print(a)

[[0.025 0.761]
 [0.129 0.673]
 [0.372 0.95 ]]

[[0.025 0.761]
 [0.129 0.673]
 [0.372 0.95 ]]

----------------------------------

**(3).The number of items printed to be limit in python numpy array a to a maximum of 6 elements.**

   
     Intake : x = np.arange(15)
               array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])
               
     Result : ([ 0,  1,  2, ..., 12, 13, 14])

In [55]:
x=np.arange(15)
print(x)

[ 0  1  2 ... 12 13 14]

In [53]:
np.set_printoptions(threshold=6)
x

array([ 0,  1,  2, ..., 12, 13, 14])

---------------------

**(4). An arrays of `x` and `y` , Stack the `x` and `y` arrays Horizontal.**


    Intake:
                x = np.arange(10).reshape(2,-1)

                y = np.repeat(1, 10).reshape(2,-1)

 
    
    Result:       ([[0, 1, 2, 3, 4, 1, 1, 1, 1, 1],
                   [5, 6, 7, 8, 9, 1, 1, 1, 1, 1]])

In [15]:
x=np.arange(10).reshape(2,5)
y=np.repeat(1,10).reshape(2,5)
z=np.hstack((x,y))
print(z)

[[0 1 2 3 4 1 1 1 1 1]
 [5 6 7 8 9 1 1 1 1 1]]

----------------------

**(5). There are two array `x` and `y` ,output to be the matching items in both the array.**
    
    
    Intake: 
   
        x = np.array([1,2,3,2,3,4,3,4,5,6])
        y = np.array([7,2,10,2,7,4,9,4,9,8])
 
    Results:
        
         ([2, 4])

In [16]:
x = np.array([1,2,3,2,3,4,3,4,5,6])
y = np.array([7,2,10,2,7,4,9,4,9,8])
c=np.intersect1d(x,y)
print(c)

[2 4]

---------------------

**(6). There are two array x and y ,drop the items in `X` which already exist in `Y`.**

   
    INTAKE:
     x = np.array([1,2,3,4,5])
     y = np.array([5,6,7,8,9])
    
    
    RESULT:
     ([1,2,3,4])

In [17]:
x = np.array([1,2,3,4,5])
y = np.array([5,6,7,8,9])
z=np.setdiff1d(x,y)
print(z)

[1 2 3 4]

--------------------------

**(7). Reverse the rows of a 2D array.**


    Intake : X = np.arange(9).reshape(3,3)
    
    Result :      ([[6, 7, 8],
                    [3, 4, 5],
                    [0, 1, 2]])

In [25]:
X = np.arange(9).reshape(3,3)
Y=X[::-1]
Y

array([[6, 7, 8],
       [3, 4, 5],
       [0, 1, 2]])

----------------------

**(8). Reverse the columns of a 2D array.**

    Intake : X = np.arange(9).reshape(3,3)
    
    Result :     ([[2, 1, 0],
                   [5, 4, 3],
                   [8, 7, 6]])

In [26]:
X = np.arange(9).reshape(3,3)
X

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [27]:
Y=np.flip(X)
Y

array([[8, 7, 6],
       [5, 4, 3],
       [2, 1, 0]])

In [28]:
Z=Y[::-1]
Z

array([[2, 1, 0],
       [5, 4, 3],
       [8, 7, 6]])

---------------------

**(9). Print the ranks for the given numeric array `x`.**
 
   
    Intake:
    np.random.seed(10)
    x = np.random.randint(20, size=10)
    print(x)
    [ 9  4 15  0 17 16 17  8  9  0]
    
    
    Result:
    [4 2 6 0 8 7 9 3 5 1]

In [35]:
np.random.seed(10) #To fix the random numbers,seed is used
x = np.random.randint(20, size=10)
print(x)
print()
order=x.argsort()
rank=order.argsort()
print(rank)

[ 9  4 15  0 17 16 17  8  9  0]

[4 2 6 0 8 7 9 3 5 1]

--------------------

**(10). Print a rank array of the same shape as a given numeric array `x`.**


    Intake:
    np.random.seed(10)
    x = np.random.randint(20, size=[2,5])
    print(a)
    [[ 9  4 15  0 17]
    [16 17  8  9  0]]
    
    Result:
    [[4 2 6 0 8]
    [7 9 3 5 1]]

In [38]:
np.random.seed(10)
x = np.random.randint(20, size=[2,5])
print(x)

[[ 9  4 15  0 17]
 [16 17  8  9  0]]

In [44]:
#ravel:returns contiguous flattened array(1D array with all the input-array elements and with the same type as it). A copy is made only if needed.
y=x.ravel().argsort().argsort().reshape(x.shape)
print(y)

[[4 2 6 0 8]
 [7 9 3 5 1]]

--------------------------------

**(11). Subtract the 1d array y_1d from the 2d array x_2d, such that each item of y_1d subtracts from respective row of x_2d.**
    
    Intake:
    x_2d = np.array([[3,3,3],[4,4,4],[5,5,5]])
    y_1d = np.array([1,2,3])
    
    Result:
     [[2 2 2]
     [2 2 2]
     [2 2 2]]

In [47]:
x_2d = np.array([[3,3,3],[4,4,4],[5,5,5]])
y_1d = np.array([[1],[2],[3]])
z=x_2d-y_1d
print(z)

[[2 2 2]
 [2 2 2]
 [2 2 2]]

----------------

# ----------------------------------HAPPY LEARNING--------------------------------------------------

-------------------